@(reId:String,tabId:String)
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/public/plug/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/public/plug/jquery-select2/css/select2.min.css" rel="stylesheet"/>
<link href="/public/plug/kindeditor/themes/simple/simple.css" rel="stylesheet"/>

<script src="/public/plug/jquery/jquery-1.11.1.min.js"></script>
<script src="/public/plug/bootstrap/js/bootstrap.min.js"></script>
<script src="/public/plug/jquery-select2/js/select2.min.js"></script>
<script src="/public/plug/jquery-select2/js/i18n/zh-CN.js"></script>
<script src="/public/plug/kindeditor/kindeditor-all-min.js"></script>
<script src="/public/plug/jquery-form/jquery.form.js"></script>
<script src="/public/plug/jquery-uploadPreview/jquery.uploadPreview.js"></script>
<script src="/public/js/onecloud.min.js"></script>
<script src="/public/js/information/infoAdds.min.js"></script>
</head>
<body>
	<section id="content">
		<section class="vbox">
	    	<section class="scrollable">
	            <div class="row" style="animation-delay:0.3s;-webkit-animation-delay:0.3s;margin-right: 0px!important;">
	            	<div class="col-md-12">
	                    <form id="info_add_form" class="form-horizontal">
	                        <section class="panel panel-default">
	                        	<header class="panel-heading"><span>文章编辑</span></header>
	                            <div class="panel-body">
	                            	<input id="info_add_id" type="hidden" name="sid" value=@reId>
	                            	<input id="info_add_tabId" type="hidden" value=@tabId>
	                                <div class="form-group"> 
	                                    <label class="col-sm-2 control-label">主标题</label> 
	                                    <div class="col-sm-8">
	                                    	<input id="info_add_title" type="text" name="title" placeholder="请填写主标题..." class="form-control"> 
	                                    </div>
	                                </div>
	                                <div class="form-group"> 
	                                    <label class="col-sm-2 control-label">简单描述</label> 
	                                    <div class="col-sm-8">
	                                    	<input id="info_add_remark" type="text" name="remark" maxlength="180" placeholder="简单介绍..." class="form-control" > 
	                                    </div> 
	                                </div>
	                                <div class="form-group"> 
	                                	<label class="col-sm-2 control-label">分类</label> 
	                                    <div class="col-sm-8"> 
	                                    	<select id="info_add_type" name="type_id" class="form-control"> 
	                                    		<option></option>
	                                        </select>
	                                    </div> 
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-2 control-label">内容编排</label>
	                                    <div class="col-sm-8">
	                                        <textarea id="info_add_content" style="width:100%;height:400px;padding:0px;"></textarea>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-2 control-label">焦点图片</label>
	                                    <div class="col-sm-6">
	                                        <input id="info_add_picture" type="file" placeholder="选填" class="form-control" name="picture" />
	                                    </div>
	                                    <div class="col-sm-2">
	                                    	<input id="info_add_picture_isexit" type="hidden" name="isexit">
	                                    	<a id="info_add_picture_exit" href="#" class="btn btn-default fileupload-exists">取消</a>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-2 control-label">图片预览</label>
	                                    <div class="col-sm-8">
	                                        <img id="info_add_picture_preview"  src="/public/images/index/thumb.png" width="360" height="240" />
	                                    </div>
	                                </div>
	                            </div>
	                            <footer class="panel-footer text-right bg-light">
	                                <a id="info_add_submit" href="#" class="btn btn-primary btn-s-xs">确认提交</a>
	                            </footer>
	                    	</section>
	                    </form>
	                </div>
	            </div>
			</section>
		</section>
	</section>
</body>
</html>