<!--Created by lyz-->
<script src="/public/js/fundmanagement/funds.min.js"></script>

<div class="bs-example">
	<div id="fund-custom-toolbar">
		<div>
		    <a id="fund_add" class="btn btn-sm btn-primary" href="#"><i class="icon-plus icon-large"></i> 增加</a>
		    <a id="fund_up" class="btn btn-sm btn-primary" href="#"><i class="icon-edit icon-large"></i> 修改</a>
		    <a id="fund_del" class="btn btn-sm btn-primary" href="#"><i class="icon-trash icon-large"></i> 删除</a>
		</div>
	    <div>
	        <form class="form-inline">
	        	<div class="form-group">
		            <label class="control-label">类型</label>
					  <select id="fund_search_fundType" class="form-control" name="fundType_id">
				     </select>
		        </div>
	        	<div class="form-group">
		            <label class="control-label">状态</label>
					  <select id="fund_search_type" class="form-control" name="type">
					  		<option></option>
					  		<option value='1'>收入</option>
                	  		<option value='0'>支出</option>
				     </select>
		        </div>
	            <div class="form-group">
	                <label for="fund_search_sel" class="control-label">关键字</label>
	                <input id="fund_search_sel" type="text" class="form-control" name="search"/>
	            </div>
	            <a id="fund_sel" class="btn btn-sm btn-primary" href="#"><i class="icon-search icon-large"></i> 查找</a>
	            <a id="fund_clear" class="btn btn-sm btn-primary" href="#"><i class="icon-book icon-large"></i> 清除</a>
	        </form>
    	</div>
	</div>
	<input id="fund_tool_id" type="hidden" value="1">
	<table id="fund-table" ></table>
</div>

