@(status: String)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>衍白公裔孙管理系统</title>
		<link rel="shortcut icon" type="image/x-icon" href="/public/images/favicon.ico" media="screen" />
		<link rel="stylesheet" href="/public/css/login.css" />
	</head>
	<body class="login-layout light-login" onkeydown="keyLogin();">
		<div class="framework login-bg">
		  <div class="login-warp">
		    <div class="login-input">
		      <form id="login-form" name="login" action="/loginer" method="post">
		        <ul class="input-left">
		          	<li><input type="text" placeholder="用户名" class="form-control"></li>
		          	<li><input type="text" placeholder="密码" class="form-control"><li>
		          	<div id="login-error">
		          	 	<span id="login-error-span" class="icon-error"></span>
		          	 	<span class="notice-descript">@status</span>
		          	</div>
		            <button class="btn btn-login" type="submit" onClick="javascript:void(0);" id="msg1">登录</button>
		          </li>
		        </ul>
		      </form>
		    </div>
		    <div class="foot">YBG (c)2016 by Yang LI</div>
		  </div>
		</div>
		<script type="text/javascript">
			window.onload=function(){
				  document.onkeydown = function(e){
				    var ev = document.all ? window.event : e;
				    if(ev.keyCode==13) {
				        document.getElementById('login-form').submit();//处理事件
				    }
				  }
				  
				  var error_div = document.getElementById("login-error");
				  var error_span = document.getElementById("login-error-span");
				  if(@status.length != 0){
				  		error_div.setAttribute("class", "form-error"); 
				  		error_span.setAttribute("class", "icon-error"); 
				  }else{
				  		error_div.setAttribute("class", "form-error.hides"); 
				  		error_span.setAttribute("class", "icon-error.hides"); 
				  }
			};   
		</script>
	</body>
</html>
