
<script src="/public/js/main.min.js"></script>

<!-- content01 -->
<div class="content"> 
	<!-- 焦点图 -->
    <div class="Slide fl" id="slide">
        <ul id="focus_getByNum_1" class="slide-cont">
        </ul>
    	<div class="slide-nav"></div>
    </div>
	<!-- 活动风采 -->
    <div class="box h-news fr">
        <h3><a href="#">活动风采</a></h3>
    	<div class="more"><a href="#" onclick="get_more_info('1','1')">更多></a></div>
        <ul id="info_getByType_1" class="news-wrap">
        </ul>
    </div>
</div>

<!-- content02 -->
<div class="content">
    <div id="info_getByType_2" class="box ays-wrap fl">
        <h3><a href="#" class="abab">美丽乡村</a></h3>
        <div class="more"><a href="#" onclick="get_more_info('2','2')">更多></a></div>
    </div>
    <div class="box law-wrap fr">
    	<h3><a href="#" class="abab">乡村记事</a></h3>
    	<div class="more"><a href="#" onclick="get_more_info('3','3')">更多></a></div>
        <ul id="info_getByType_3" class="law-con">
        </ul>
    </div>
</div>

<!-- 广告图 -->
<div class="content"><img src="/public/images/main/main_center.png"/></div>

<!-- content03 -->
<div class="content">
    <div class="box data-wrap score-wrap fl" style="width:552px;!important;">
    	<h3 style="margin-bottom: 5px;!important;"><a href="#" class="abab">祭祖基金</a></h3>
    	<div class="more"><a href="#" onclick="get_more_fund('1','6')">更多></a></div>
    	<!--tab标题-->
        <ul id="fundTabGroup_1" class="sr-tab">
            <li onclick="fundTabOption('fundTabGroup_1', '1')" class="sr-tab-li selected" style="width:130px;!important;">
            	<a href="javascript:">基金总览</a>
            </li>
            <li onclick="fundTabOption('fundTabGroup_1', '2')" class="sr-tab-li" style="width:130px;!important;">
            	<a href="javascript:">月度总额</a>
            </li>
            <li onclick="fundTabOption('fundTabGroup_1', '3')" class="sr-tab-li" style="width:130px;!important;">
            	<a href="javascript:">月度收入</a>
            </li>
            <li onclick="fundTabOption('fundTabGroup_1', '4')" class="sr-tab-li" style="width:130px;!important;">
            	<a href="javascript:">月度支出</a>
            </li>
        </ul>
    	<!--tab内容-->
        <div id="fundTabGroup_1_Content">
            <div id="fundTabGroup_1_Content_1" class="sr-con fl" style="display:block;">
            	<div class="sr-con-box">
            		<div id="ftc1_1" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        	<div id="fundTabGroup_1_Content_2" class="sr-con fl" style="display:none;">
            	<div class="sr-con-box">
            		<div id="ftc1_2" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        	<div id="fundTabGroup_1_Content_3" class="sr-con fl" style="display:none;">
            	<div class="sr-con-box">
            		<div id="ftc1_3" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        	<div id="fundTabGroup_1_Content_4" class="sr-con fl" style="display:none;">
            	<div class="sr-con-box">
            		<div id="ftc1_4" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        </div> 
    </div>
    <div class="box data-wrap score-wrap fr">
    	<h3 style="margin-bottom: 5px;!important;"><a href="#" class="abab">公王基金</a></h3>
    	<div class="more"><a href="#" onclick="get_more_fund('2','7')">更多></a></div>
    	<!--tab标题-->
        <ul id="fundTabGroup_2" class="sr-tab">
            <li onclick="fundTabOption('fundTabGroup_2', '1')" class="sr-tab-li selected"><a href="javascript:">基金总览</a></li>
            <li onclick="fundTabOption('fundTabGroup_2', '2')" class="sr-tab-li"><a href="javascript:">月度总额</a></li>
            <li onclick="fundTabOption('fundTabGroup_2', '3')" class="sr-tab-li"><a href="javascript:">月度收入</a></li>
            <li onclick="fundTabOption('fundTabGroup_2', '4')" class="sr-tab-li"><a href="javascript:">月度支出</a></li>
        </ul>
    	<!--tab内容-->
        <div id="fundTabGroup_2_Content">
            <div id="fundTabGroup_2_Content_1" class="sr-con fr" style="display:block;">
            	<div class="sr-con-box">
            		<div id="ftc2_1" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        	<div id="fundTabGroup_2_Content_2" class="sr-con fr" style="display:none;">
            	<div class="sr-con-box">
            		<div id="ftc2_2" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        	<div id="fundTabGroup_2_Content_3" class="sr-con fr" style="display:none;">
            	<div class="sr-con-box">
            		<div id="ftc2_3" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        	<div id="fundTabGroup_2_Content_4" class="sr-con fr" style="display:none;">
            	<div class="sr-con-box">
            		<div id="ftc2_4" style="width:536px;height:340px;"></div>
            	</div>
            </div>
        </div> 
    </div>
</div>

<!-- content04 -->
<div class="content">
    <div class="box tech-wrap fl">
        <h3><a href="#" class="abab">祭祀祝文</a></h3>
        <div class="more"><a href="#" onclick="get_more_info('4','4')">更多></a></div>
        <ul id="info_getByType_4" class="tech-con">
        </ul>
    </div>
    <div class="box electric-wrap fr">
        <h3><a href="#" class="abab">人文轶事</a></h3>
        <div class="more"><a href="#" onclick="get_more_info('5','5')">更多></a></div>
        <ul id="info_getByType_5" class="data-list">
        </ul>
    </div>
</div>
	
