		<!-- crumbs -->
        <div class="content"> 
        	<!-- breadcrumb -->
            <ul class="breadcrumb" id="product-bread">
            	<li><b>您当前的位置：</b></li>
            	<li><a href="<?php echo site_url(); ?>">首页</a></li>
            	<span class="fa fa-angle-right"></span>
            	<li class="current">x</li>
            </ul>
        </div> 
    
		<!-- contents -->
        <div class="content box pgNews">
        	<h3><a>x</a></h3>
            <div class="news-box">
                <div class="news-list fl" style="width:98%;">
                    <ul>
                        <li><a href="#" target="_blank"><i class="square"></i><strong>x</strong><span>x</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="pages">
            	
            </div>
        </div>
        
	</div>
    <script type="text/javascript">
	
	</script>