	@(infoId: String,infoName: String)
	<style>
		*{ margin:0; padding:0; list-style:none;}
		a{ text-decoration:none;}
		a:hover{ text-decoration:none;}
		.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;}
		.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px;	line-height: 25px;	padding: 0 10px;border: 1px solid #ddd;	margin: 0 2px;border-radius: 4px;vertical-align: middle;}
		.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;}
		.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca;	border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;}
		.tcdPageCode span.disabled{	display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;	color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;}
	</style>
	
	<!-- crumbs -->
    <div class="content"> 
    	<!-- breadcrumb -->
        <ul class="breadcrumb" id="product-bread">
        	<li><b>您当前的位置：</b></li>
        	<li>首页</li>
        	<span class="fa fa-angle-right"></span>
        	<li class="current more_title_li"></li>
        </ul>
    </div> 

	<!-- contents -->
    <div class="content box pgNews">
    	<h3><a class="more_title_li"></a></h3>
        <div class="news-box">
            <div class="news-list fl">
                <ul id="more_info_list"></ul>
            </div>
             <div id="more_advert_set" class="news-img fl"></div>  
        </div>
        <div>
        	<div id="more_info_page" class="tcdPageCode"></div>
        </div>
    </div>
    <script type="text/javascript">
    	$(function() {
    		$(".more_title_li").html(@infoName);
    		
    		var params = {
	    		"typeId":@infoId,
	    		"offset":0,
	    		"limit":10
	    	};
			$.get("/info_getByType",params, function(data) {
				 $("#more_info_list > li").each(function(k, v) {
					 $(v).remove();
				  });
				
			    $.each(data.rows, function(k, v) {
			     	$("#more_info_list").append($('<li><a href="/info_get?id='+v.id+'" target="_blank"><i class="square"></i><strong>'+
			     		v.title+'</strong><span>'+v.createTime+'</span></a></li>'));
			    });
			    
			    $("#more_info_page").createPage({
			        pageCount:data.total/10,
			        current:1,
			        backFn:function(page_index){
			            more_page(@infoId,page_index);
			        }
			    });
		    });
		    
		    $.get("/advertSet_get",{"sid":1}, function(data) {
			    $("#more_advert_set").append($('<a href="'+data.url+'"><img src="data:image/png;base64,'+data.picture+'" alt="'+data.url+'"></a>'));
		    });
	    });
	    
	    
	    function more_page(typeId,page_index){
	    	var offset = (page_index-1)*10;
	    	var params = {
	    		"typeId":typeId,
	    		"offset":offset,
	    		"limit":10
	    	};
	    	$.get("/info_getByType",params, function(data) {
	    		$("#more_info_list > li").each(function(k, v) {
					$(v).remove();
				 });
				 
			    $.each(data.row, function(k, v) {
			     	$("#more_info_list").append($('<li><a href="/info_get?id='+v.id+'" target="_blank"><i class="square"></i><strong>'+
			     		v.title+'</strong><span>'+v.createTime+'</span></a></li>'));
			    });
		    });
	    }
	   
	</script>
	
	